html
    head
        title Jaeyoon.org
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="bower_components/angular-timeline/dist/angular-timeline-bootstrap.css")
        link(link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css")
        link(link rel="stylesheet" href="bower_components/ng-prettyjson/dist/ng-prettyjson.min.css")
        link(rel="stylesheet", href="client/static/css/style.css")
        script(src="bower_components/angular/angular.min.js")
        script(src="bower_components/angular-timeline/dist/angular-timeline.js")
        script(src="bower_components/ng-prettyjson/dist/ng-prettyjson.min.js")
        script(src="bower_components/angular-sanitize/angular-sanitize.js")
        script(src="client/app.js")

    body(ng-app="jaeyoon")
        div(ng-controller="timelineCtlr")
            block nav

            block whoami

            block history