nav.navbar.navbar-line
    .navbar-header
        a.navbar-brand(href='#') Jaeyoon Lee
    #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
            li.active
                a(href='#whoami') > whoami
            li
                a(href='#history') > history